html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #301e29;
  color: white;
  font-family: 'M PLUS 1', sans-serif;
}

@font-face {
    font-family: moontime;
    src: url(/fonts/MoonTime-Regular.ttf);
}

.topbar {
}

.logo-div {
  text-align: center;
}

.logo {
  font-family: moontime;
  font-size: 8em !important;
}

.secondary-logo {
  font-size: 2em;
  text-transform: uppercase;
}

.menu {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  color: #aaa;
  letter-spacing: 1px;
  margin-top: 4em;
}

.menu .lighter {
  color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  margin-bottom: 1em;
}

.shape-div {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.center-vert {
  margin-top: 3em;
}

.services {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.color {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
}
