html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #301e29;
  color: white;
  font-family: 'M PLUS 1', sans-serif;
}

@font-face {
    font-family: moontime;
    src: url(/fonts/MoonTime-Regular.ttf);
}

.topbar {
}

.logo-div {
  text-align: center;
}

.logo {
  font-family: moontime;
  font-size: 8em !important;
}

.secondary-logo {
  font-size: 2em;
  text-transform: uppercase;
}

.menu {
  text-align: center;
  width: 100%;
  font-size: 48px;
  color: #aaa;
  letter-spacing: 1px;
}

.menu .lighter {
  color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin: 2em;
}

.shape-div {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed white;
}

.center-vert {
  margin-top: 3em;
}


@media only screen and (max-width: 800px) {
  .topbar {
  }

  .logo-div {
    text-align: center;
  }

  .logo {
    font-family: moontime;
    font-size: 8em !important;
  }

  .secondary-logo {
    font-size: 2em;
    text-transform: uppercase;
  }

  .menu {
    text-align: center;
    width: 100%;
    font-size: 48px;
    color: #aaa;
    letter-spacing: 1px;
  }

  .menu .lighter {
    color: #fff;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: 2em;
  }

  .shape-div {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: white;
    border-bottom: 1px dashed white;
  }
}
